.body {
  background-color: black;
  color: aliceblue;
}

.landing-main {
  margin-top: 100px;
}

.carousel-inner div img {
  height: 1000px;
  width: 100%;
}

.col-lg-4 img {
  margin: 10% 0 10% 30%;
}
.col-lg-4 h2 {
  text-align: center;
}
.col-lg-4 p {
  text-align: center;
}
