.body {
  background-color: black;
  color: aliceblue;
  font-family: "Odibee Sans", cursive;
}

.landing-main {
  margin-top: 100px;
}

#header {
  display: flex;
  justify-content: space-between;
}

#header-nav {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

#header-nav button a {
  color: #28a745;
  border-color: #28a745;
}

#header-nav button a:hover {
  color: #28a745;
  border-color: #28a745;
  color: whitesmoke;
  text-decoration: none;
}

#navbutton {
  width: fit-content;
}

#reurbanatitle {
  position: absolute;
  z-index: 1;
  margin: 10%;
  font-size: 100px;
}

.carousel-inner div img {
  height: 1000px;
  width: 100%;
}

#oquefazemos {
  background-color: black;
}

#oquefazemos div {
  width: 100%;
}
#oquefazemos ul li {
  margin: 2% 1%;
  border-radius: 5px;
}

.col-lg-4 img {
  margin: 10% 0 10% 30%;
}
.col-lg-4 h2 {
  text-align: center;
}
.col-lg-4 p {
  text-align: center;
}

.featurette h2 {
  font-size: 70px;
}

.featurette p {
  font-size: 40px;
}

#network {
  display: flex;
  justify-content: space-evenly;
  margin: 5%;
}

.d-md-flex div {
  border-radius: 20px;
  margin-top: 10%;
}

#facebook {
  max-height: 200px;
  margin: 10px auto;
  transition: transform 0.8s, opacity 0.5s;
}

#facebook:hover {
  max-height: 230px;
  margin: 10px auto;
  cursor: pointer;
  transform: scale(1.4);
  transition: transform 0.8s, opacity 0.5s;
}

#instagram {
  max-height: 200px;
  margin: 10px auto;
  transition: transform 0.8s, opacity 0.5s;
}

#instagram:hover {
  max-height: 230px;
  margin: 10px auto;
  cursor: pointer;
  transform: scale(1.4);
  transition: transform 0.8s, opacity 0.5s;
}

#footer {
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  padding: 30px;
}

#footer img {
  max-height: 60px;
}
